{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
<!-- UIImage(named:"chat_bubble")?  UIImage(named:"schedule")? UIImage(named:"label")?-->
<div class="container blog-list-cont py-5">
    <div class="row w-100">
        {% for post in posts %}
        {% with post=post.specific %}

        <div class="col-12  d-flex justify-content-center">
            <div class="card my-card mb-3 shadow-sm">
                <div class="row g-0">
                    <div class="col-md-4 col-xs-12">
                        {% image post.blog_image fill-321x260 as main_image %}
                        <img src="{{ main_image.url }}" class="img-fluid my-card-image rounded-start" alt="...">


                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="card-body my-card-body ">
                            <h5 class="card-title w-100">{{ post.title|truncatewords:15 }}</h5>
                            <div class="card-text w-100 item-content">
                                <div class="item-card">
                                    <i class="material-icons double-arrow">
                                        schedule
                                    </i>
                                    <small class="text-muted">{{ post.first_published_at |timesince}} ago</small>
                                </div>
                                {% if post.categories.count %}
                                <div class="item-card">
                                    <i class="material-icons-outlined double-arrow">
                                        label
                                    </i>
                                    {% for cat in post.categories.all %}
                                    <small class="text-muted category-item"><a
                                            href="/blog/category/{{ cat.slug }}/?page=1">
                                            {{ cat.name }}
                                        </a>{% if not forloop.last %}, {% endif %}</small>

                                    {% endfor %}

                                </div>
                                {% endif %}
                                <div class="item-card">
                                    <i class="material-icons-outlined double-arrow">
                                        chat_bubble_outline
                                    </i>
                                    <small class="text-muted">0</small>
                                </div>
                            </div>

                            <div class="card-text w-100">{{ post.content|richtext|truncatewords_html:50 }}</div>
                            <a href="{{ post.url }}" class="mt-auto btn primary-color text-white"><span
                                    class="read-more">Leer
                                    más</span> <i class="material-icons double-arrow">
                                    double_arrow
                                </i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>

</div>
{% if posts.paginator.num_pages > 1 %}
<div class="container  d-flex justify-content-center">
    <nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item p-prev {% if not posts.has_previous %} disabled {% endif %}">
                <a href="{% if posts.has_previous %}?page={{ posts.previous_page_number }}{% if search_query %}&query={{ search_query }}{% endif%} {% else %} # {% endif %}"
                    class="page-link" aria-label="Previous">
                    <span aria-hidden="true">‹</span>
                </a>
            </li>
            {% for page_num in posts.paginator.page_range %}
            <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                <a href="?page={{ page_num }}{% if search_query %}&query={{ search_query }}{% endif%} "
                    class="page-link  {% if page_num != posts.number %} bg-white{% endif %}">
                    {{ page_num }}
                </a>
            </li>
            {% endfor %}

            <li class="page-item  p-next {% if not posts.has_next %} disabled {% endif %}">
                <a href="{% if posts.has_next %}?page={{ posts.next_page_number }}{% if search_query %}&query={{ search_query }}{% endif%}{% else %}# {% endif %}"
                    class="page-link" style="border-top-right-radius: 1.25rem; border-bottom-right-radius: 1.25rem;"
                    aria-label="Next">
                    <span aria-hidden="true">›</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endif %}

{% endblock %}